{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Edit Address</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
    <a href="{% url 'shop'%}" class="logo d-flex align-items-center">
        <img src="{% static 'admin/imges/logo.jpg' %}" alt="">
        <span class="d-none d-lg-block">TRACK AND TRAIL</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      
      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link " href="{% url 'profile'%}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'my_address'%}">
          <i class="bi bi-envelope"></i>
          <span>My Address</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'my_orders' %}">
          <i class="bi bi-card-list"></i>
          <span>My Orders</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'wallet'%}">
          <i class="bi bi-envelope"></i>
          <span>My Wallet</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li>


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
       
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-0">

          
          </div>

        </div>

        <div class="col-xl-10">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Address</button>
                </li>

                

                

              </ul>
              

                <div class="tab-pane  profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="{% url 'update_address' address.id %}" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    <div class="message-box text-danger ">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %} 

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">First Name</label>
                            <input type="text" name="first_name" class="form-control" value="{{address.first_name}}" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Last Name</label>
                            <input type="text" name="last_name" class="form-control" value="{{address.last_name}}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" value="{{address.email}}" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Phone Number</label>
                            <input type="text" name="phone" class="form-control" value="{{address.phone}}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        
                        <div class="col form-group">
                            <label for="">Address</label>
                            <input type="text" name="address" class="form-control" value="{{address.address}}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">City</label>
                            <input type="text" name="city" class="form-control" value="{{address.city}}" required>
                        </div>
                        <div class="col form-group">
                            <label for="">State</label>
                            <input type="text" name="state" class="form-control" value="{{address.state}}" required>
                        </div>
                    </div>
                    <div class="form-row">
                        
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Country</label>
                            <input type="text" name="country" class="form-control" value="{{address.country}}" required>
                        </div>
                        <div class="col form-group">
                            <label for="">Pin Code</label>
                            <input type="text" name="pincode"  class="form-control" value="{{address.pincode}}"></input>
                        </div>
                    </div>
                
                    </div>
                    
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                

                

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'admin/assets/js/main.js' %}"></script>

</body>

</html>