{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>New password</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="{% static 'user/css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'user/css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'user/css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}">
   <link rel="stylesoeet" href="{% static 'user/css/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>

<body>
   <!-- header section start -->
   
   <!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
            background-color:  #325662;
            height: 250px;
          ">
    </div>
    <!-- Background image -->
    <div  style="
    background-color:  #325662;
    height: 260px;
  ">
    <div class="card mx-auto shadow-5-strong " style="
      margin-top: -200px; /* Adjust this value to reduce the size */
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
      max-width: 445px;
      ;
      ">

      <div class="card-body py-2 pt-5 px-md-0 ">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            {%if messages%}
              {%for message in messages%}
              <script>alert('{{message}}')</script>
              {% endfor %}
              {% endif %}
            <h2 class="fw-bold mb-3">Set New Password For You</h2>
            <form method='POST' action="{% url 'set_newpassword'  %}">
               {%csrf_token%}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              
  
              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Enter Your New Password</label>
                <input type="password" name="password" id="password" class="form-control"required />
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Re-entere Your Password</label>
                <input type="password" name="conformpassword" id="password" class="form-control"required />
              </div>
  
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-5 ">
                Set Password
              </button>
              
              
            </form>
          </div>
        </div>
      </div>
    </div>

   </div>

  </section>
  <!-- Section: Design Block -->
   
   
</body>

</html>