{% extends 'base.html' %}
{% load static %}

{% block title %}
   Cart
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if not cart_items %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center m-5">
        <h2 ><b>Your Shopping Cart Is Empty</b></h2><br><br>
        <a href="{%url 'shop'%}" class="btn btn-primary">Continue Shopping</a>
    </div>    
    {%else%}
    <div class="row">
        <div class="col-md-8">
            <br>
            <h2 class="text-center">Your Cart</h2>
            <br>
            <!-- Cart items table -->
            <table class="table table-card">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th class="px-4">Quantity</th>
                        <th>Stock Availability</th>
                        <th>Action</th>                  
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <div style="flex: 0 0 100px;">
                                    <a href="{% url 'product_detail' cart_item.product.id %}">
                                        <img src="{{ cart_item.product.productimage_set.first.image.url }}" alt="Product 1" class="img-thumbnail" style="max-width: 100px;">
                                    </a>    
                                </div>
                                <div style="margin-left: 10px;">
                                    <b>{{ cart_item.product.category }} {{ cart_item.product.name }}</b>
                                    {{cart_item.variation}}
                                </div>
                            </div>
                        </td>

                        <td class="py-3"><var class="text-dark">₹{{ cart_item.sub_total }}</var>
                            {% if cart_item.product.offer %}
                            <br>
                                <small class="text-muted">₹ <strike>{{ cart_item.variation.price }}</strike> each</small>
                                <div><span class="text-muted"> ₹{{ cart_item.discount_amount }}</span></div>
                            {%else%} 
                            <br>
                            <small class="text-muted">$ {{ cart_item.variation.price }} each</small>   
                            {% endif %}
                        </td>
                        <td class="py-1">
                            <div class="d-flex input-group input-spinner col-6">
                                <div class="input-group-prepend">
                                    <a href="{% url 'decrement_cartItem' cart_item.variation.id cart_item.id %}">
                                        <button type="submit" style="min-width: 26px" class="btn btn-decrement btn-spinner mx-3 update-cart" name="action" value="remove">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </a>
                                </div>
                                <input type="text" value="{{ cart_item.quantity }}" required class="form-control text-center quantity-input" name="quantity">
                                <div class="input-group-append">
                                    <a href="{% url 'increment_cartItem' cart_item.variation.id %}">
                                        <button type="submit" style="min-width: 26px" class="btn btn-increment btn-spinner mx-3 update-cart" name="action" value="add">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </td>
                        {% if cart_item.variation.stock_quantity == 0 %}
                            <td class="py-5">
                                <b class="text-danger">Out-of-stock</b>
                            </td>
                        {% else %}
                            <td class="py-5">
                                <i class="fa fa-circle-check text-success" aria-hidden="true"></i>
                            </td>
                        {% endif %}


                        <td class="py-5">
                            <a href="{% url 'delete_cart' cart_item.variation.id cart_item.id %}"><button class="btn btn-danger">Remove</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Add more cart items as needed -->
                </tbody>
            </table>
        </div>

        <!-- Cart summary -->
        <div class="col-md-4">
            <br><br>
            <br><br>
            <div class="cart-summary" style="border: 1px solid #000; padding: 20px;">
                <h3>Cart Summary</h3>
                <p>Total Items: {{quantity}}</p>
                <p>Total Price: ₹{{total}}</p> {{ stock }}
                {% if checkout_enable == True %}
                    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
                    <a href="{% url 'shop' %}" class="btn btn-warning text-light">Continue Shopping</a>
                {% else %}
                    <div class="text-danger">Remove out-of-stock products from your cart</div>
                    <button type="button" class="btn btn-primary" disabled>Checkout</button>
                    <a href="{% url 'shop' %}" class="btn btn-warning text-light">Continue Shopping</a>
                {% endif %}

            </div>
        </div>
    </div>
    {%endif%}
</div>
{% endblock %}
