<!-- wishlist.html -->

{% extends 'base.html' %}

{% block content %}
    <div>
        <h2 class="text-center">Wishlist</h2>
    </div>
  
  <div class="row">
    {% for item in wishlist_items %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img src="{{ item.product.productimage_set.first.image.url }}" alt="{{ item.product.name }} Image" class="img-fluid">
              </div>
              <div class="col-md-8">
                <h3><b><u>{{ item.product.category.name }} {{ item.product.name }}</u></b></h3>
                <p>Size: {{ item.product.size }}</p>
                <div>
                  {% if item.product.offer %}
                    <span class="text-danger"><b>{{ item.product.offer.percentage }}% Offer</b></span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="d-flex justify-content-between">
                    <a href="{% url 'product_detail' item.product.id %}" class="btn btn-info">Know More</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'delete_from_wishlist' item.product.id %}" class="btn btn-danger">Remove</a>
                </div>
              </div>
            
            
              <div class="col-md-6">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Close the row and open a new row after every third product -->
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
